.project-navber{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    padding:0px 0px;
}
.project-navber li{
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 2px;
    font-weight: 500;
    font-size: 18px;
}

.project-navber li:hover{
    cursor: pointer;
}

.project-navber li p { display:inline-block; margin:0;text-transform:uppercase; }
.project-navber li p:after {
  display:block;
  content: '';
  border-bottom: solid 3px #ff014f;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
.project-navber li p:hover:after { transform: scaleX(1); }
