.skills {
  width: 100%;
  max-width: 600px;
  padding: 20px 20px;
}

.skill-name {
  font-size: 15px;
  font-weight: 700;
  color: #2c2424;
  text-transform: uppercase;
  margin: 10px 0;
}
.skill-name-text{
  color: #878e99;
  font-size: 16px;
  line-height: 0px;
  margin-top: 15px;
}

.skill-bar {
  height: 10px;
  background: #939090;
  border-radius: 3px;
}

.skill-per {
  height: 10px;
  background: #eb494c;
  border-radius: 3px;
  position: relative;
  animation: fillBars 2.5s 1;
}

.skill-per::before {
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  background: #a79b9b;
  border-radius: 4px;
  font-size: 12px;
  top: -35px;
  right: 0;
  transform: translateX(50%);
}

.skill-per::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: #eb494c;
  top: -8px;
  right: 0;
  transform: translateX(50%) rotate(45deg);
  border-radius: 2px;
}

@keyframes fillBars {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}