@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");



.btn_shadow {
  padding: 18px 25px;
  border-radius: 6px;
  transition: 0.3s all ease;
  cursor: pointer;
  color: #000;
  transition: 0.5s;
}
.btn_shadow {
  box-shadow: 2px 2px 4px #00000037, -2px -2px 4px #42404088;
  color: rgb(103, 158, 176);
}
.btn_shadow:hover {
  background: #ff014f;
  color: white;
  transform: translateY(-10px);
}
